# permissions for end users to view listenerclasses.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: listener-operator
    app.kubernetes.io/managed-by: kustomize
  name: listenerclass-viewer-role
rules:
- apiGroups:
  - listeners.kubedoop.dev
  resources:
  - listenerclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - listeners.kubedoop.dev
  resources:
  - listenerclasses/status
  verbs:
  - get
