# permissions for end users to view listenerclasses.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: listenerclass-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: listener-operator
    app.kubernetes.io/part-of: listener-operator
    app.kubernetes.io/managed-by: kustomize
  name: listenerclass-viewer-role
rules:
- apiGroups:
  - listeners.zncdata.dev
  resources:
  - listenerclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - listeners.zncdata.dev
  resources:
  - listenerclasses/status
  verbs:
  - get
