---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: listenerclasses.listeners.kubedoop.dev
spec:
  group: listeners.kubedoop.dev
  names:
    kind: ListenerClass
    listKind: ListenerClassList
    plural: listenerclasses
    singular: listenerclass
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ListenerClass is the Schema for the listenerclasses API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ListenerClassSpec defines the desired state of ListenerClass
            properties:
              preferredAddressType:
                default: HostnameConservative
                description: |-
                  When preferredAddressType is set to HostnameConservative, the controller will
                  attempt to use the ip only `ListenerClassSpec.ServiceType` is NodePort,
                  otherwise it will use the hostname.
                enum:
                - HostnameConservative
                - Hostname
                - IP
                type: string
              serviceAnnotations:
                additionalProperties:
                  type: string
                default: {}
                type: object
              serviceExternalTrafficPolicy:
                default: Local
                description: |-
                  ServiceExternalTrafficPolicy describes how nodes distribute service traffic they
                  receive on one of the Service's "externally-facing" addresses (NodePorts, ExternalIPs,
                  and LoadBalancer IPs.
                enum:
                - Local
                - Cluster
                type: string
              serviceType:
                description: Service Type string describes ingress methods for a service
                enum:
                - LoadBalancer
                - NodePort
                - ClusterIP
                type: string
            required:
            - serviceType
            type: object
          status:
            description: ListenerClassStatus defines the observed state of ListenerClass
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
